<div class="container">
<div>
<img src="{{this.image_url}}">
<p>{{this.name}}</p>
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>
</div>

 <div>
 <a class="nav-item nav-link" href="/beers">Random Beer</a>
 </div>
